@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Long+Cang&display=swap");

/* --------------------- Body ----------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.top-row {
  margin-top: 40px;
  background-color: transparent;
}

.container {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Lobster" , 'Courier New', Courier, monospace;
    color: #dc143c;
}

p {
    font-family: "Long Cang", 'Courier New', Courier, monospace;
    color: #fafafa;
}

/* ------ Code from https://stackoverflow.com/questions/24322599/why-cannot-change-checkbox-color-whatever-i-do ----*/

input[type="checkbox"],
input[type="radio"] {
  filter: grayscale(1);
}

/* ------- Code from https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll --*/

html {
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
html::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

/* --------------------- Nav ----------------*/
.bg-dark {
  background-color: black !important;
}

.logo-image {
  height: 150px;
  width: 150px;
  /* - code for circle outline from user Heraldmonkey at https://stackoverflow.com/questions/5394116/outline-radius */
  border: #fafafa solid 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px #fafafa inset;
}

nav {
  height: 65px;
  border-bottom: 5px solid #fafafa;
  margin: 0;
}

.nav-list-items {
  font-size: 29px;
  font-family: "Lobster", sans-serif;
  text-shadow: 2px 2px black;
}

.deftones-nav-items {
  margin-left: 50px;
  margin-right: 50px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #73192a;
}

.navbar-nav > .active > a {
  color: #ff073a !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #a62139;
}

nav a {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-toggler {
  background-color: black;
  outline: 2px solid #fafafa;
  background-image: url();
}



/* --------------------- Footer ----------------*/
.clear {
  clear: both;
  height: 110px;
}

footer {
  border-top: 5px solid #fafafa;
}

.footer-style {
  font-family: "lobster", sans-serif;
  background-color: black;

  height: 80px;
  text-align: center;
}

.footer-social-links {
  font-size: 35px;
  letter-spacing: 20px;
  text-align: center;

  padding: 10px;
}

.footer-social-links a {
  color: #ff073a;
  text-decoration: none;
  vertical-align: middle;
}

.footer-social-links a:hover {
  color: #fafafa;
}

/* --------------------- Home Articles ----------------*/
.home-articles {
  background-color: transparent;
  margin: 10px;
  text-align: center;
  font-family: "lobster", sans-serif;
  color: #fafafa;
  overflow-wrap: normal;
  border-top: 5px solid #fafafa;
}

.home-articles h3 {
  padding-top: 10px;
  font-size: 40px;
  text-decoration: underline;
  
}

.home-articles tbody {
  color: #fafafa;
  font-family: "Long Cang", cursive;
  font-size: 25px;
  margin-top: 10px;
}

.table-dark {
  background-color: transparent;
}

.home-articles thead {
  font-weight: 200;
  color: #dc143c;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: underline;
  text-shadow: 1px 1px black;
}

.home-articles .btn {
  font-family: "Long Cang", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: #ff073a;
  border: 1px solid #fafafa;
  border-radius: 12px;
  color: black;
  font-weight: 600;
}

.home-articles .btn a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.merch-image {
  width: 100%;
  height: 350px;
  background-image: url("../images/logo.jpg");
  outline: solid 2px #fafafa;
  margin-top: 20px;
}

.home-articles article h3 {
  font-size: 25px;
  text-decoration: none;
  
}

.home-articles p {
  font-size: 25px;
}

.home-articles .border-ruler {
  border-bottom: 2px solid #fafafa;
  border-top: 2px solid #fafafa;
}

.home-articles p a {
  text-decoration: none;
  color: #ff073a;
}

.home-articles .border-ruler-merch {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #fafafa;
  border-top: 2px solid #fafafa;
}

.vinyl-image img {
  float: left;
  left: 5px;
  top: 5px;
  height: 350px;
  width: 350px;
  padding: 5px;
}

/* ---------------------  Albums ----------------*/

.album-style {
  background-color: transparent;
  height: 300px;
  margin: 10px;
  align-items: center;
  text-align: center;
}

.top-border {
  border-top: 5px solid #fafafa;
}

.bottom-border {
  border-bottom: 5px solid #fafafa;
}

.album-cover-image {
  height: 100%;
  width: 100%;
  padding: 5px;
  max-width: 300px;
  max-height: 350px;
}

/* ----------- Flip cards home - Code used from from w3 Schools------------------*/
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  padding: 2px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: black;
  color: #fafafa;
  transform: rotateY(180deg);
  outline: 2px solid #fafafa;
  margin: 2px;
  height: 97%;
}

.flip-card-back h5 {
  text-align: center;
  font-size: 24px;
  
}
.flip-card-back p {
  text-align: center;
  font-size: 25px;
}

.stream-links-album-cards a {
  font-size: 50px;
  color: #ff073a;
  margin: 5px;
}

.stream-links-album-cards a:hover {
  color: #fafafa;
}

.stream-links-album-cards {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  bottom: 2px;
  padding: 0;
}
/* --------------------- Carosel ----------------*/

.carousel-item {
  height: 60vh;
  margin-bottom: 20px;
  margin-top: 10px;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  background-color: rgba(52, 58, 64, 0.8);
  border: 5px solid #fafafa;
  border-radius: 12px;
}

.carousel-caption h5 {
  color: #ff073a;
  text-transform: uppercase;
  font-size: 40px;
}

.carousel-caption p {
  font-size: 30px;
  line-height: 25px;
  padding: 10px;
}

.carousel-caption .btn a {
  text-decoration: none;
  color: black;
}

.carousel-caption .btn {
  font-family: "Long Cang", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  background-color: #ff073a;
  border: 1px solid #fafafa;
  border-radius: 12px;
}

.stream-links a {
  font-size: 50px;
  color: #ff073a;
  margin: 5px 50px 5px 50px;
}

.stream-links a:hover {
  color: #fafafa;
}

/* ---------  code from https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel ---- */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff073a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff073a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* -------------------- hover css from https://ianlunn.github.io/Hover/ -----------*/

/* -------------------- Videos -----------*/

/* -- Fluid width video trick from https://css-tricks.com/fluid-width-video/ -- */
.player-frame {
  margin: 20px;
  background-color: transparent;
  border-top: 5px solid #fafafa;
  align-items: center;
  text-align: center;
  height: 400px;
}

.player-frame iframe {
  display: block;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn-col .btn a {
  font-family: "Long Cang", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.btn-col .btn {
  background-color: #ff073a;
  border: 1px solid #fafafa;
  border-radius: 12px;
}

.btn-col {
  text-align: center;
  align-items: center;
  background-color: transparent;
  height: 60px;
}

.player-frame-spotify {
  margin: 10px 20px 10px 20px;
  max-width: 600px;
  background-color: transparent;
  border-top: 5px solid #fafafa;
  align-items: center;
  text-align: center;
}

.player-frame-spotify iframe {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

/* ------------------           contact content ---------- */

.fan-list-style {
  background-color: transparent;
  margin: 10px;
  text-align: center;
  font-family: "lobster", sans-serif;
  color: #fafafa;
  overflow-wrap: normal;
  border-top: 5px solid #fafafa;
  text-shadow: 2px 2px black;
  min-height: 470px;
}

.fan-list-style form {
  padding: 10px;
}

.form-check {
  text-align: left;
}

.fan-list-style .btn {
  font-family: "Long Cang", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  padding: 5px;
  background-color: #ff073a;
  border: 1px solid #fafafa;
  border-radius: 12px;
}

.form-check-label {
  font-family: "Long Cang", sans-serif;
  font-size: 25px;
}

.form-check a {
  text-decoration: none;
  color: #ff073a;
}

.fan-list-style p {
  font-size: 25px;
}

.fan-list-style h3 {
  padding-top: 10px;
  font-size: 40px;
  text-decoration: underline;
  color: #dc143c;
}

.fan-list-style h4 {
  font-size: 20px;
  color: #dc143c;
}

.fan-list-style a {
  font-family: "Long Cang", sans-serif;
  color: #ff073a;
  text-decoration: none;
  font-size: 25px;
}

.fan-list-style-image {
  margin: 10px 0px 20px 0px;
  width: 100%;
}

.fan-list-style-image img {
  object-position: center;
  width: 100%;
  height: auto;
}

.terms-modal {
  margin-bottom: 0px;
  padding: 0px 15px 0px;
  height: 600px;
  text-align: justify;
  position: absolute;
  top: 200px;
 
}

.terms-modal p {
  
  overflow-y: hidden;
}

/* ---------- Responsive google maps code from https://blog.duda.co/responsive-google-maps-for-your-website --*/
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 300px;
}

.map-responsive iframe {
  left: 20px;
  top: 20px;
  height: 80%;
  width: 90%;
  position: absolute;
  text-align: center;
  margin: 5px;
  box-shadow: 10px 10px black;
}

/* --------------------- bio articles ----------------*/

.bio-frame {
  background-color: transparent;
  margin: 40px 20px 20px 20px;
  text-align: center;
  font-family: "lobster", sans-serif;
  color: #fafafa;
  overflow-wrap: normal;
  border-top: 5px solid #fafafa;
  text-shadow: 2px 2px black;
  min-width: 400px;
  max-width: 550px;
}

.bio-frame h3 {
  padding-top: 10px;
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.bio-frame h4 {
  padding-top: 10px;
  font-size: 30px;
  margin-bottom: 0;
}

.bio-image {
  position: relative;
  height: 150px;
  width: 150px;
  /* - code for circle outline from user Heraldmonkey at https://stackoverflow.com/questions/5394116/outline-radius */
  border: #fafafa solid 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px #fafafa inset;
  float: left;
  top: -50px;
  left: -25px;
  cursor: pointer;
}

.bio-accordion {
  margin-top: 0;
  margin-bottom: 10px;
}

.bio-accordion .card {
  background-color: transparent;
}

.bio-accordion .card-body {
  font-family: "Long Cang", sans-serif;
  font-size: 25px;
}

.bio-frame a {
  color: #ea3c53;
  text-decoration: none;
}

.bio-frame button {
  color: #ea3c53;
  text-decoration: none;

  width: 100%;
  height: 20%;
  font-size: 24px;
}

.bio-frame button:hover {
  color: #fafafa;
  text-decoration: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
  outline: none;
}

/* ---- Code from https://stackoverflow.com/questions/7273927/image-greyscale-with-css-re-color-on-mouse-over */
.bio-img {
  filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */

  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
}
img:hover {
  filter: none;
  -webkit-filter: none;
}

/* --------------------- media Queries ----------------*/

@media only screen and (max-width: 768px) {
  .player-frame {
    max-width: 480px;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .logo-image-container {
    position: absolute;
    top: -55px;
    left: 40vw;
  }

}

@media screen and (max-width: 500px) {
 .logo-image-container {
    position: absolute;
    top: -55px;
    left: 32vw;
}
  .dropdown-menu-custom {
    margin-top: 70px;
  }

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #303030;
    color: black;
  }
}