@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Long+Cang&display=swap");

/* --------------------- Body ----------------*/
* {
  margin: 0;
  padding: 0;
}




body {
  background-color: black;
}

/* #21262e; */

hr {
  color: #fafafa;
}



/* --------------------- Nav ----------------*/
.logo-image {
  height: 150px;
  width: 150px;
  /* - code for circle outline from user Heraldmonkey at https://stackoverflow.com/questions/5394116/outline-radius */
  border: #fafafa solid 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px #fafafa inset;
 
  
}

nav {
  height: 65px;
  border-bottom: 5px solid #fafafa;
}

.nav-list-items {
  font-size: 29px;
  font-family: "Lobster", sans-serif;
  color: #fafafa;
  text-shadow: 2px 2px black;
}

.deftones-nav-items {
  margin-left: 50px;
  margin-right: 50px;
}


nav a {
  background-color: rgba(52, 58, 64, 0.6);
 
  
  
}

.navbar-toggler {
    float: left;
    top: 50px;
    left: 20px;
}


/* -- idea from https://stackoverflow.com/questions/48946894/bootstrap4-navbar-underline/48946964 
.navbar-dark .navbar-nav li.active::after{
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  content: " ";
  color: #fafafa;
  border-bottom: 5px solid #fafafa;
}
*/

/* --------------------- Footer ----------------*/
.clear {
  clear: both;
  height: 110px;
}

footer {
  border-top: 5px solid #fafafa;

}

.footer-style {
  font-family: "lobster", sans-serif;
  background-color: #393e47;
  color: #fafafa;
  height: 80px;
  text-align: center;
}

.footer-social-links {
  font-size: 35px;
  letter-spacing: 20px;
  text-align: center;
  color: #fafafa;
  padding: 10px;
}

.footer-social-links a {
  color: #fafafa;
  text-decoration: none;
  vertical-align: middle;
}

.footer-social-links a:hover {
  color: #0a0a0a;
}



/* --------------------- Home Articles ----------------*/
.home-articles {
  background-color: #393e47;
  margin: 10px;
  text-align: center;
  font-family: "lobster", sans-serif;
  color: #fafafa;
  overflow-wrap: normal;
  border-top: 5px solid #fafafa;
  border-bottom: 5px solid #fafafa;
  text-shadow: 2px 2px black;

}

.home-articles h3 {
  padding-top: 10px;
  font-size: 40px;
  text-decoration: underline;
}

.home-articles tbody {
  color: #f9f9f9;
  font-family: "Long Cang", cursive;
  font-size: 20px;
}

.home-articles thead {
  font-weight: 200;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: underline;
  text-shadow: 1px 1px #fafafa;
}

.home-articles .btn {
  font-family: "Long Cang", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  margin-top: 15px;
}

.merch-image {
  width: 100%;
  height: 350px;
  background-image: url("../images/logo.jpg") no-repeat;
  outline: solid 2px #fafafa;
  margin-top: 20px;
}
/* --------------------- Carosel ----------------*/

.carousel-item {
  height: 60vh;
  margin-bottom: 20px;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  background-color: rgba(52, 58, 64, 0.6);
}

.carousel-caption h5 {
  font-family: "lobster", sans-serif;
  color: #fafafa;
  text-transform: uppercase;
  font-size: 40px;
  text-decoration: underline;
}

.carousel-caption p {
  font-family: "Long Cang", sans-serif;
  color: #fafafa;
  font-size: 30px;
}

.carousel-caption .btn {
  font-family: "Long Cang", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
}

/* -------------------- hover css from https://ianlunn.github.io/Hover/ -----------*/


